extends base

block append head
  link(rel='stylesheet', href='/css/mainVideoCard.css')

block content
  section.sect-mid-contentContainer
    each video in videos 
      a(href=`/watch/${video._id}`)
        .content-containers.content-container-1
            section.section-Header
              img.sectionHead-chLogo(src=`/imgs/users/${video.channel.displayImage}`)
              .sectionHead-dtls
                .sectionHead-chName_N_sub
                  h3.sectionHead-chName= video.channel.name
                  h5.sectionHead-chSubCnt
                    span= video.channel.subscribersCount
                    |  Subscribers
                img.sectionHead-tick(src='/imgs/Middle Nav/Video card/tick-square 8.png')
            img.sectionHead-thumbNail(src=`/imgs/thumbnails/${video.thumbnail}`)
            section.section-details
              h4.section-details-title= video.title
              hr(width='50px')
              .sectionHead-views_N_date
                h5.sectionHead-views
                  span.views= video.views
                  |  Views
                - const videoTime = new Date(video.time)
                h5.sectionHead-date= videoTime.toLocaleString('en-uk', {day: 'numeric', month: 'long', year: 'numeric'})
                  //- span= video.time.toLocaleString('en-uk', {day: 'numeric'})
                  //-   | 
                  //- span= video.time.toLocaleString('en-uk', )
                  //-   |
                  //- span= video.time.toLocaleString('en-uk', {})