extends ../base

block append head
  link(rel='stylesheet', href='/css/channelList.css')
  link(rel='stylesheet', href='/css/videoCard.css')

block content
  section.sect-mid-contentContainer
    section.sect-mid-header
      h2.sect-midHead-heading CHANNELS
      .sect-midHead-chCatgs
        button.chCatgs-subscribed SUBSCRIBED
        //- hr.sect-midHead-chCatgs-hr(width='3px')
        button.chCatgs-recoms RECOMMEDATION
        //- hr.sect-midHead-chCatgs-hr
        button.chCatgs-industries INDUSTRIES
      img.chCatgs-moreOptsIcon(src='imgs/Right Section/svgs/bars-solid.svg')
    hr(style='\
    border: 1px solid rgb(120, 120, 120, 0.3);\
    border-radius: 10px;\
    align-self: center;\
    justify-self: center;\
    ', width='100%')
    section.sect-mid-chList
      if channel
        each channel in channels
          .chList-channels.chList-channel-1
            if user && user.channel && user.channel.displayImage
                  - const userId = user._id
                  - console.log(userId)
                    img.chList-chnl-img(src=`/imgs/users/${video.channel.user._id}/display-images/${video.channel.displayImage}`)
            else
              img.chList-chnl-img(src="/imgs/default-user-photo.jpg")
          //- img.chList-chnl-img(src=`/imgs/users/${userId}/display-images/${userData.channel.displayImage}`)
        //- hr(style='\
        //- height: 60%;\
        //- background-color: #fff;\
        //- border-radius: 10px;\
        //- align-self: center;\
        //- ', width='3px')
    hr(style='\
    border: 1px solid rgb(120, 120, 120, 0.3);\
    border-radius: 10px;\
    align-self: center;\
    justify-self: center;\
    margin-bottom: 1rem;\
    ', width='100%')
    section.sect-mid-chSlctd
      .chSlctd-rows.chSlctd-row-1
        img.chSlctd-row1-banner(src='/imgs/banners/Banner.png')
      .chSlctd-rows.chSlctd-row-2
        .chSltd-row2-chDtls
          img.chSlctd-row2-chImg(src='/imgs/users/default.jpeg')
          .chSltd-chDtls-Nm_N_subCnt
            h2.chSltd-chDtls-chName Areesh Alam
            h4.chSltd-chDtls-subCount
              if channel
                - const subChLength = channel.subscribedChannels.length
                span.chSltd-chDtls-subsNmbr= subChLength
              else
                span.chSltd-chDtls-subsNmbr 0 
              span.chSltd-chDtls-subsText Subscribers
            h4.chSltd-chDtls-unChkd-content
              span.chDtls-unchkdText Unchecked Posts: 
              span.chDtls-unchkdAmnt 12
        button.chSltd-row2-chOpenBtn View Channel
      
      .chSlctd-rows.chSlctd-row-3
        each video in videos
          a(href=`/watch/${video._id}`) 
            .content-containers.content-container-1
              img.sectionHead-thumbNail(src=`/imgs/thumbnails/${video.thumbnail}`)
              section.section-details
                h4.section-details-title= video.title
                hr(width='50px')
                .sectionHead-views_N_date
                  h5.sectionHead-views
                    span.views= video.views
                    |  Views
                  h5.sectionHead-date
                  - const videoDate = new Date(video.time)
                    span.sectionHead-date= videoDate.toLocaleString('en-uk', {day: 'numeric', month: 'long', year: 'numeric'})