extends ../base

block append head
  link(rel='stylesheet', href='/css/mainVideo.css')
  link(rel='stylesheet', href='/css/videoCard.css')
  link(rel='stylesheet', href='/css/mainVideoMediaQueries.css')
  link(rel='stylesheet', href='https://cdn.plyr.io/3.7.8/plyr.css')

block content
  section.sect-mid-contentContainer
    section.sect-mid-videoPlayer
      section.sect-mid-vdoP-c1
        section.vdoPlayer-controls
          //- THE NEW VIDEO PLAYER
          input.videoId(type="hidden", value=`${videoIdForComment}`)
          input.userId(type="hidden", value=`${userId}`)
          video.sect-mid-vdoPlayer-video(controls='', crossorigin='anonymous', playsinline='', poster='')
            source(src=`${videoUrl}`, type='video/mp4', width='100%')
            | &#x9;&#x9;&#x9;
            //- source(src=`/video/${video.video}`, type='video/mp4', size='576' width='100%')
            //- | &#x9;&#x9;&#x9;
            //- source(src=`/video/${video.video}`, type='video/mp4', size='720')
            //- | &#x9;&#x9;&#x9;
            //- source(src=`/video/${video.video}`, type='video/mp4', size='1080')
            //- | &#x9;&#x9;&#x9;
            //- source(src=`/video/${video.video}`, type='video/mp4', size='1440')
            //- Caption files
            //- track(kind='captions', label='English', srclang='en', src=`/video/${video.video}`, default='')
            //- | &#x9;&#x9;&#x9;
            //- track(kind='captions', label='Français', srclang='fr', src=`/video/${video.video}`)
            //- // Fallback for browsers that don't support the <video> element
            //- a(href=videoUrl, download='') Download

          //- //////////////////////////
        
        section.sect-mid-vdoP-title
          h2.sect-mid-ctntTitle= video.title
        section.sect-mid-vdoP-dtls
          if channel && channelLogoUrl
              a(href=`/channels/${video.channel._id}`)
                img.sect-mid-vdoP-chLogo(src=`${channelLogoUrl}`)
          else
            a(href=`/channels/${video.channel._id}`)
              img.chList-chnl-img(src="https://begenone-images.s3.amazonaws.com/default-user-photo.jpg")
          .sect-mid-vdoP-name_N_subCount
            a(href=`/channels/${video.channel._id}`)
              h4.vdoP-name= video.channel.name
              //- h5.vdoP-subsCount
              //-   span= video.channel.subscribers.length
              //-   |  Subscribers
          //- .sect-mid-vdo_subscribe
            if areChannelSame
              a(href=`/all-uploads/${video._id}`)
                button(class=`sect-mid-vdoP-subsBtn--analytics`) Analytics
            else
              button(class=`${btnClass}`)= btnText
              - console.log(`${btnClass}`, `${btnText}`)
              if user && user._id
                input.userId-input(type="hidden", value=`${user._id}`)
              if video && video._id
                input.videoId-input(type="hidden", value=`${video._id}`)
              if isUserSubscribed
                input.isUserSubscribed-input(type="hidden", value=`${isUserSubscribed}`)
          div.sect-mid-vdo-meta
            h2.sect-mid-vdo-time= videoTimeAgo
            h2.sect-mid-vdo-views= `| ${video.views} Views`
        // THIS IS FOR BACKUP PURPOSES
        //- section.sect-mid-vdoP-dtls
        //-   if user && user.channel && user.channel.displayImage
        //-     a(href=`/channels/${video.channel._id}`)
        //-       img.sect-mid-vdoP-chLogo(src=`/imgs/users/${video.channel.user._id}/display-images/${video.channel.displayImage}`)
        //-   else
        //-     a(href=`/channels/${video.channel._id}`)
        //-       img.chList-chnl-img(src="https://begenone-images.s3.amazonaws.com/default-user-photo.jpg")
        //-   .sect-mid-vdoP-name_N_subCount
        //-     a(href=`/channels/${video.channel._id}`)
        //-       h4.vdoP-name= video.channel.name
        //-       h5.vdoP-subsCount
        //-         span= video.channel.subscribers.length
        //-         |  Subscribers
        //-   .sect-mid-vdo_subscribe
        //-     if areChannelSame
        //-       a(href=`/all-uploads/${video._id}`)
        //-         button(class=`sect-mid-vdoP-subsBtn--analytics`) Analytics
        //-     else
        //-       button(class=`${btnClass}`)= btnText
        //-       - console.log(`${btnClass}`, `${btnText}`)
        //-       if user && user._id
        //-         input.userId-input(type="hidden", value=`${user._id}`)
        //-       if video && video._id
        //-         input.videoId-input(type="hidden", value=`${video._id}`)
        //-       if isUserSubscribed
        //-         input.isUserSubscribed-input(type="hidden", value=`${isUserSubscribed}`)
        //-     //- .sect-mid-vdoP-notify
        //-       svg.sect-mid-vdoP-notify-icon.sect-rgt-icons-imgs.sect-rgt-icon-img-5.icon.icon-bell-solid
        //-         use(xlink:href='#icon-bell-solid')
        //-           symbol#icon-bell-solid(viewBox='0 0 28 32')
        //-             path(d='M14 0c-1.106 0-2 0.894-2 2v1.2c-4.563 0.925-8 4.963-8 9.8v1.175c0 2.938-1.081 5.775-3.031 7.975l-0.463 0.519c-0.525 0.587-0.65 1.431-0.331 2.15s1.038 1.181 1.825 1.181h24c0.788 0 1.5-0.462 1.825-1.181s0.194-1.563-0.331-2.15l-0.462-0.519c-1.95-2.2-3.031-5.031-3.031-7.975v-1.175c0-4.838-3.438-8.875-8-9.8v-1.2c0-1.106-0.894-2-2-2zM16.831 30.831c0.75-0.75 1.169-1.769 1.169-2.831h-8c0 1.063 0.419 2.081 1.169 2.831s1.769 1.169 2.831 1.169 2.081-0.419 2.831-1.169z')
        //- div.sect-mid-vdo-meta
        //-   h2.sect-mid-vdo-time= videoTimeAgo
        //-   h2.sect-mid-vdo-views= `| ${video.views} Views`
      if userData
        section.sect-mid-vdoP-nav
          .sect-mid-vdoP-items.sect-mid-vdoP-navLike
            .vdoPlayer-icon-imgs.vdoP-likeIcon.icon.icon-thumbs-up-solid
              i.fa-solid.fa-thumbs-up
            h4.likesCount= `Likes - ${video.likes || '0'}`
          .sect-mid-vdoP-items.sect-mid-vdoP-navDislike
            .vdoPlayer-icon-imgs.vdoP-dislikeIcon.icon.icon-thumbs-down-solid
              i.fa-solid.fa-thumbs-down
            h4.dislikesCount= `Dislike - ${video.dislikes || '0'}`
          .sect-mid-vdoP-items.sect-mid-vdoP-navShare
            .vdoPlayer-icon-imgs.vdoP-shareIcon.icon.icon-share-nodes-solid
              i.fa-solid.fa-share
            h4.vidShareText= `Share`
          .sect-mid-vdoP-items.sect-mid-vdoP-navAudio
            svg.vdoPlayer-icon-imgs.vdoP-audioIcon.icon.icon-music-solid
              use(xlink:href='#icon-music-solid')
                symbol#icon-music-solid(viewBox='0 0 32 32')
                  path(d='M31.194 0.394c0.506 0.375 0.806 0.975 0.806 1.606v21c0 2.762-2.688 5-6 5s-6-2.238-6-5 2.688-5 6-5c0.7 0 1.375 0.1 2 0.288v-9.1l-16 4.8v13.012c0 2.762-2.688 5-6 5s-6-2.238-6-5 2.688-5 6-5c0.7 0 1.375 0.1 2 0.288v-14.287c0-0.881 0.581-1.662 1.425-1.919l20-6c0.606-0.181 1.262-0.069 1.769 0.313z')
          .sect-mid-vdoP-items.sect-mid-vdoP-navOpts
            svg.vdoPlayer-icon-imgs.vdoP-optsIcon.icon.icon-menu
              use(xlink:href='#icon-menu')
                symbol#icon-menu(viewBox='0 0 32 32')
                  path(d='M2 6h28v6h-28zM2 14h28v6h-28zM2 22h28v6h-28z')
    section.sect-mid-ctntDtls_N_recom
      section.sect-mid-ctntDtls
        section.ctnt-des_sects_spnsr
          section.ctnt-des-sect-spns-heading
            h4.ctnt-description-h4 Description
          hr.head_N_des-separator
          .description-container
            p.ctnt-description(id="description")= video.description
            button.show-more-button(id="show-more", onclick="toggleDescription()") Show More
          script.
            function toggleDescription() {
              const description = document.getElementById("description");
              const showMoreButton = document.getElementById("show-more");

              // Toggle between truncated and full description
              if (description.style.maxHeight === "none") {
                description.style.maxHeight = "100px";  // Set it back to the preview state
                showMoreButton.innerHTML = "Show More"; // Change button text back
              } else {
                description.style.maxHeight = "none";  // Expand to show full description
                showMoreButton.innerHTML = "Show Less"; // Change button text to "Show Less"
              }
            }
          a(href="/pricings").banner-image-description
            img.banner-image(src="https://begenone-images.s3.us-east-1.amazonaws.com/Blue+and+Purple+Modern+Black+Friday+Sale+Email+Header.png")
        section.ctnt-comments
          section.ctnt-cmmnt-analytics
            h4.ctnt-cmmnt-count
              span.ctnt-cmmnts-text Comments:
              span.ctnt-cmmnts-amount= video.comments.length
          section.ctnt-cmmnt-inputbox
            form#commentForm.ctnt-cmmnt-inputField
              textarea#commentInput(type='text', placeholder='Type your comment...')
              button#commentBtn(type='submit') Send
          section.ctnt-cmmnt-list
            each comment in comments
              .ctnt-cmmnt-listItems.ctnt-cmmnt-listItem-1
                .ctnt-cmmnt-accDtls_N_opts
                  if comment
                    if comment.channel && comment.channel.displayImage
                      input.hidden-channel-id(type="hidden", value=`${comment.channel._id}`)
                      input.hidden-channel-name(type="hidden", value=`${comment.channel.name}`)
                      img.ctnt-cmmnt-logo(src=`/imgs/users/${comment.channel.displayImage}`)
                    else
                      img.ctnt-cmmnt-logo(src="https://begenone-images.s3.amazonaws.com/default-user-photo.jpg")
                  .ctnt-cmmnt-accDetails
                    - const userOrChannelName = comment.channel ? comment.channel.name : `${firstName + ' ' + secondName}`
                    h4.cmmnt-accDtls= userOrChannelName
                    - const commentDate = new Date(comment.time)
                    h6.cmmnt-date= commentDate.toLocaleString('en-uk', {day: 'numeric', month: 'long', year: 'numeric'})
                  input(type="hidden" value=`${comment._id}`).delete-comment-id
                  - const userIdString = userId ? userId.toString().trim() : '';
                  - const commentUserIdString = comment.user._id.toString();
                  if userIdString === commentUserIdString
                    button.delete-comment-btn(data-owner-id=`${commentUserIdString}`) Delete Comment
                  //- .cmmnt-fltrs
                    .cmmnt-fltr-like.vdoPlayer-icon-imgs.vdoP-likeIcon.icon.icon-thumbs-up-solid
                    .cmmnt-fltr-dislike.vdoPlayer-icon-imgs.vdoP-dislikeIcon.icon.icon-thumbs-down-solid
                    .cmmnt-fltr-bkmark.vdoPlayer-icon-imgs.vdoP-bookmarkIcon.icon.icon-bookmark-regular
                    .cmmnt-fltr-menu.vdoPlayer-icon-imgs.vdoP-optsIcon.icon.icon-menu.icon.icon-more-vertical
                h4.ctnt-cmmnt-textCmmnt= comment.comment
                button.ctnt-cmmnt-reply Reply
              //- Modal for confirmation
              div.delete-modal.modal
                div.modal-content
                  span.close-modal-btn &times;
                  p Are you sure you want to delete this comment?
                  button.confirm-delete-btn Yes, Delete
                  button.cancel-delete-btn Cancel
      section.sect-mid-ctntRecom
        each singleVideo in manyVideos
          if singleVideo._id !== video._id
            a(href=`/watch/${singleVideo._id}`)
              .content-containers.content-container-1
                img.sectionHead-thumbNail(src=`${singleVideo.thumbnailUrl}`)
                section.section-Header
                  if user && channel && singleVideo.channelLogoUrl
                    img.sectionHead-chLogo(src=`${singleVideo.channelLogoUrl}`)
                  else
                    img.sectionHead-chLogo(src="https://begenone-images.s3.amazonaws.com/default-user-photo.jpg")
                  h3.sectionHead-chName= singleVideo.channel.name
                  //- img.sectionHead-tick(src='/imgs/Middle Nav/video card/tick-square 8.png')
                //- if singleVideo && singleVideo.thumbnail
                //-   img.sectionHead-thumbNail(src=`/imgs/thumbnails/${singleVideo.thumbnail}`)
                //- else
                section.section-details
                  h4.section-details-title= singleVideo.title
                  hr(width='50px')
                  .sectionHead-views_N_date
                    h5.sectionHead-views
                      span.views= singleVideo.views
                      |  Views
                    h5.sectionHead-date= videoTimeAgo
  script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js')
  script(src="/js/subscribe.js")
  script(src="/js/comment.js")
  script(src="/js/deleteComment.js")
  script(src="/js/engagement-video.js") 
  script(src="/js/shareVid.js") 
  script(src='https://cdn.plyr.io/3.7.8/plyr.polyfilled.js')
  script(src='path/to/plyr.js')
  script(src="https://cdn.skypack.dev/date-fns")
  script(src='https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js')
  script(type='text/javascript').
    const player = new Plyr('video', { captions: { active: true } });
    window.player = player;
    //- const modal = document.getElementById("deleteModal");

    //- // Get button to open modal
    //- const deleteBtn = document.getElementById("deleteCommentBtn");

    //- // Get the span element (to close the modal)
    //- const closeBtn = document.getElementsByClassName("close")[0];

    //- // Get the confirm and cancel buttons
    //- const confirmDeleteBtn = document.getElementById("confirmDelete");
    //- const cancelDeleteBtn = document.getElementById("cancelDelete");

    //- // Open the modal when delete button is clicked
    //- deleteBtn.onclick = function() {
    //-   const commentId = deleteBtn.getAttribute('data-comment-id');
    //-   // Use commentId in API call to delete the specific comment
    //-   modal.style.display = "block";
    //- };

    //- // Close the modal when 'X' is clicked
    //- closeBtn.onclick = function() {
    //-   modal.style.display = "none";
    //- };

    //- // Close the modal when cancel button is clicked
    //- cancelDeleteBtn.onclick = function() {
    //-   modal.style.display = "none";
    //- };

    //- // Perform delete action when confirm button is clicked
    //- confirmDeleteBtn.onclick = function() {
    //-   // Add logic to delete the comment (e.g., make an API request to delete)
    //-   console.log("Comment deleted"); // Placeholder action

    //-   // Close the modal after deletion
    //-   modal.style.display = "none";
    //- };
