doctype html
html(lang='en')
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      link(rel='icon', type='image/x-icon', href='https://wereform-imgs.s3.amazonaws.com/begenone-white-transparent-logo+favicon.png')
      script(async='', src='https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2214723335589279', crossorigin='anonymous')

      link(rel='stylesheet', href='/css/style.css')
      link(rel='stylesheet', href='/css/_header.css')
      link(rel='stylesheet', href='/css/sect-left.css')
      link(rel='stylesheet', href='/css/sect-right.css')
      link(rel='stylesheet', href='/css/_notificationPanel.css')
      link(rel='stylesheet', href='/css/mediaQueries.css')
      script(src='https://releases.transloadit.com/uppy/v3.21.0/uppy.min.js')
      link(rel='stylesheet', href='https://releases.transloadit.com/uppy/v3.21.0/uppy.min.css')
      
      link(rel='preconnect', href='https://fonts.googleapis.com')
      link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
      link(href='https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&family=Lexend+Exa:wght@100;200;300;400;500;600;700;800;900&family=Lexend+Giga:wght@100;200;300;400;500;600;700;800;900&family=Lexend+Mega:wght@100;200;300;400;500;600;700;800;900&family=Lexend+Peta:wght@100;200;300;400;500;600;700;800;900&family=Lexend+Tera:wght@100;200;300;400;500;600;700;800;900&family=Lexend+Zetta:wght@100;200;300;400;500;600;700;800;900&family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap', rel='stylesheet')
      link(rel='preconnect' href='https://fonts.googleapis.com')
      link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
      link(href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap' rel='stylesheet')

      script(src='https://cdn.plyr.io/3.7.8/plyr.polyfilled.js')
      title #{title}

  
  body
    .intro-screen(style="display: none;")
      .message
        h1.welcome-h1 Welcome to 
        h2.begenone-h2 BEGENONE!
        p Welcome to our platform. We are pleased to have you. Enjoy your experience
        button#close-btn Close
    .right-nav-menu
      button.right-nav-close-modal X
      if userData
        if userData && userData.channel
          a(href=`/channels/${userData.channel._id}`).right-nav-menu-1
            | MY CHANNEL
        else
          a(href=`/channel-settings`)
            | MY CHANNEL
      else
        a(href="/login")
          | MY CHANNEL
      if userData
        if userData && userData.channel
          a(href="/upload").right-nav-menu-2 
            | UPLOAD VIDEO
        else
          a(href="/channel-settings").right-nav-menu-2
            | UPLOAD VIDEO
      else 
        a(href="/login").right-nav-menu-2
          | UPLOAD VIDEO
      if userData
        a(href="/user").right-nav-menu-3 
          | USER SETTINGS
      else
        a(href="/login").right-nav-menu-3 
          | USER SETTINGS
      if userData
        if userData && userData.channel
          a(href="/channel-settings").right-nav-menu-4 
            | CHANNEL SETTINGS
        else 
          a(href="/login").right-nav-menu-4 
            | CHANNEL SETTINGS
      else 
        a(href="/login").right-nav-menu-4 
          | CHANNEL SETTINGS

    .notice-bar
      .span.important-notice-span= "🚨 Important Notice: "
      
      .span.notice-message= "This is a Beta version; data may not persist. Please review the terms and conditions before starting."
      a(href="/terms-and-conditions.pdf").learn-more-notice Terms and Conditions

    section.sect-video-linkshare-overlay
      h1.sect-video-linkshare-h1= copyLinkText
      h2.sect-video-linkshare= shareLink
      //- h4.copyLink-success-fail Link Copied
    main.container
      // LEFT NAVIGATION
      if locals && locals.useCustomLeftNav
        include ../settings/channel/uploads/_leftNavSettings
      else
        include _leftNav

      section#sect-2.section-middle
        // HEADER
        include _header

        //- section.sect-mid-contentContainer
          // CONTENT
        block content

      // RIGHT NAVIGATION
      include _rightNav

      // BOTTOM NAVIGATION
      include _bottomNav
      include _notificationPanel

    script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js')
    script(src='/js/index.js')
    script(src='/js/responsive-nav-modal.js')
    script(src='/js/notification.js')
    script(src='/js/welcome.js')
    //- script(type="module" src="/js/upload-video.js")