if comment
  .ctnt-cmmnt-listItems.ctnt-cmmnt-listItem-1
    .ctnt-cmmnt-accDtls_N_opts
      if comment
        if comment && comment.channel
          input.hidden-channel-id(type="hidden", value=`${comment.channel._id}`)
          input.hidden-channel-name(type="hidden", value=`${comment.channel.name}`)
        if comment && comment.channel && comment.channel.displayImage
          img.ctnt-cmmnt-logo(src=`${comment.channel.displayImage}`)
        else
          img.ctnt-cmmnt-logo(src="https://begenone-images.s3.amazonaws.com/default-user-photo.jpg")
      .ctnt-cmmnt-accDetails
        //- - console.log(user)
        - const userFirstName = user.name ? user.name.firstName : 'New'
        - const userSecondName = user.name ? user.name.secondName : "User"
        - const usersName = userFirstName + ' ' + userSecondName
        - const userOrChannelName = comment.channel ? comment.channel.name : usersName
        h4.cmmnt-accDtls= userOrChannelName
        - const commentDate = new Date()
        h6.cmmnt-date= commentDate.toLocaleString('en-uk', {day: 'numeric', month: 'long', year: 'numeric'})
      input(type="hidden" value=`${comment._id}`).delete-comment-id
      if comment.user === userId
        button.delete-comment-btn Delete Comment
    h4.ctnt-cmmnt-textCmmnt= comment
