extends base

block append head
  link(rel='stylesheet', href='/css/videoCard.css')

block content
  section.sect-mid-contentContainer
    each video in videos 
      a(href=`/watch/${video._id}`).ctnt-ctnr-link
        .content-containers.content-container-1
            section.section-Header
              if user && user.channel && user.channel.displayImage
                - const userId = user._id
                - console.log(userId)
                  img.sectionHead-chLogo(src=`/imgs/users/${video.channel.user._id}/display-images/${video.channel.displayImage}`)
              else
                img.sectionHead-chLogo(src="/imgs/default-user-photo.jpg")
              .sectionHead-dtls
                .sectionHead-chName_N_sub
                  h3.sectionHead-chName= video.channel.name
                  h5.sectionHead-chSubCnt
                    span= video.channel.subscribers.length
                    |  Subscribers
            //- if video && video.thumbnail
            //-   img.sectionHead-thumbNail(src=`/imgs/thumbnails/${video.thumbnail}`)
            //- else 
            img.sectionHead-thumbNail(src=`/imgs/thumbnails/sample-thumbnail.jpg`)
            section.section-details
              h4.section-details-title= video.title
              hr(width='50px')
              .sectionHead-views_N_date
                h5.sectionHead-views
                  span.views= video.views
                  |  Views
                h5.sectionHead-date= videoTimeAgo
  script(src="https://cdn.skypack.dev/date-fns")
