extends ../base

block append head
  link(rel='stylesheet', href='/css/search.css')

block content
  section.sect-mid-searchContentContainer
    section.sectMid-content
      section.sectMid-resultSorts
        .sortBtn-container
          h5.sortBtn-text Sortings
        .keywords-container
          .keywords.keyword-1 Keyword 1
          .keywords.keyword-2 Keyword 2
          .keywords.keyword-3 Keyword 3
          .keywords.keyword-4 Keyword 4
        .content-types-container
          .contents-types.content-type-1 Promotions
          .contents-types.content-type-2 Suggestions
          .contents-types.content-type-3 Top-Notched
      
      section.sectMid-resultContent
        each video in videos
          a(href=`/watch/${video._id}`) 
            .resultContent-box
              .thumb_N_date_views
                img.thumbnail-img(src=`/imgs/thumbnails/${video.thumbnail}`)
                .date_N_views
                  h4
                    span= video.views
                    |  Views
                  h4
                    - const videoTime = new Date(video.time)
                    span= videoTime.toLocaleString('en-uk', {day: 'numeric', month: 'long', year: 'numeric'})
              .title_N_description
                h2.content-title= video.title
                p.content-description= video.description
                .channel_details
                  img.channel-logo(src=`/imgs/users/${video.channel.displayImage}`)
                  h4.channel-name= `@${video.channel.channelUserName}`

    section.sectMid-contentPreview
      a(href=`/watch/${video._id}`)
        .sectMid-contentPreview-up
          section.preview-channel-details
            img.prev-channel-logo(src=`/imgs/users/${video.channel.displayImage}`)
            .channelName_N_subsCount
              h4.prev-channelName= video.channel.name
              h5.prev-channelsubsCount 239M Subscriber
            .prev-channelSubsContainer
              //- button.prev-channelSubsBtn Subscribe
              //- img.prev-channelSubsBell(src='', height='30px')
          section.preview-channel-thumb
            img.preview-thumbnail(src='imgs/Middle Nav/Video card/thumbnail.png')
          section.preview-channel-title_N_description
            h4.prev-content-title= video.title
            p.prev-content-description= video.description
      section.preview-channel-options
        .prevCh-opt-1
          button.prevCh-playlist Playlist
          button.prevCh-bookmark Bookmark
        button.prevCh-report Report